* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Verdana;    
}

body #container {
    width: 1000px;
    margin: 0 auto;
}

table .kode_tabel {
    border-left: #32CD32 solid 5px;
}